
* {
	box-sizing: border-box;
  }
  
.container{
	background-image: url("../images/background.png");
	border: solid 2px antiquewhite;
	padding: 10px;
	width:250px;

 } 
 #randomNumber{
	 margin-top: 10px;
	 background-color: #5bc880;
	 padding-bottom: 45px;
	 
 }
 .winsAndLosses{
	 margin-top: 10px;
	 background-color: #4bfdfc;
	 padding-bottom: 20px;
	
 }
 .userTotal{
	 margin-top: 10px;
	 background-color: #2ca293;
 }
 #finalTotal{
	 margin-top: 10px;
	background-color: #2ca293;
	padding-bottom: 25px;
 }
.gemImage{
	margin-top: 10px;
	width: 62px;
	height: 62px;
}

.header {
	background-color:#ca7226;
	
	color: aliceblue;
	
}
 div.instructions{
	
	color: green;
	background-color:#fed;
	padding : 20px 0px 20px 10px;
}

